:root{
    --red: #E50914;
    --black: #141414;
    --whiteMenu: #AAA;
    --whiteMenuHover: #fff;
}

/*------------RESET------------------*/
* {
    margin: 0;
    padding: 0;    
    /* as caixas terão as mesmas dimensoes q foram definidas por mim*/
    box-sizing: border-box; 
}

/*------------BODY------------------*/
body {
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: white;
}

.sub-title {    
    font-size: 30px;
    margin-bottom: 5px; 
    margin-top: 5px;
    font-family: 'Trebuchet MS';
        
}

/*------------HEADER------------------*/
header .container{
    display: flex; /*Joga td para a linha = flex-direction: row;*/
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;
    padding: 8px 20px 8px 8px;

}

.container-main-menu {
    display: flex; 
    justify-content: inline-flex;
    align-items: center;
}

header .logo {   
    text-decoration: none; 
    margin-left: 5px;
    margin-right: 40px;
    color: var(--red);
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
}

header .icon_netflix {
    margin: 5px;
    width: 28px;
    display: inline-block;
    vertical-align: right; 
    border-radius: 4px;
}

header nav a {  
    text-decoration: none;
    color: var(--whiteMenu);
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
}

header nav a:hover {    
    color: var(--whiteMenuHover);
}

/*------------MAIN MOVIE-----------------*/
.main-movie {
    font-size: 16px;
    /*linear cria uma cama fina sobre a imagem - melhora o constraste*/
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("/img/capaaa.jpg");   
    
    height: 400px;
    /*Pega a area de cobertura da caixa*/
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.main-movie .description {
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-move .title {
    margin-top: 15%;;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.btn-menu {
    background-color: rgba(0,0,0,.50);
    border: none;
    color:white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;  /*TESTAR OUTROS*/
}

.btn-menu:hover {
    background-color: white;
    color: black;
}

.btn-menu i{
    margin-right: 8px;
}

.container {
    margin-left: 30px;
}

.main-movie .container {
    width: 70%;
}

/*------------BOX CAROUSEL-----------------*/
.box-movie {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    border: 2px var(--whiteMenuHover) solid;
}

.carousel-movie{
    margin-top: 5px;
}

/*------------FOOTER-----------------*/